$box-size: border-box;
// FONTS
$body-font: 'Segoe UI',
Tahoma,
Geneva,
Verdana,
sans-serif;
// COLORS
$grey-color: grey;
$white-color: white;
$green-color: green;
$darkgrey-color: #404040;
$ghostwhite-color:ghostwhite;
$heading-color: #4e4d4d;
$light-brown: #6f6f6f;
$footer-bg-color: #414141;
$section-txt-color: #c8c8c8;
// images
$background-img-container: url(../img/img_tree.png);
$top-margin: 0px;