    @import "mixin";
    @import "variables";
    * {
        box-sizing: $box-size;
    }
    
    body {
        font-family: $body-font;
    }
    
    form.example button {
        @include nav-search-btn();
    }
    
    form.example input[type=text] {
        @include form-ex-input();
    }
    
    form.example button:hover {
        background: $green-color;
    }
    
    form.example::after {
        content: "";
        clear: both;
        display: table;
    }
    
    #container {
        @include main-container();
    }
    
    header {
        @include header-mixin();
    }
    
    .logo {
        @include logo();
    }
    
    header nav {
        & ul {
            float: left;
            margin-right: 60px;
        }
        & ul li {
            display: inline;
            margin-right: 40px;
        }
    }
    
    a {
        color: $ghostwhite-color;
        text-decoration: none;
        margin-bottom: 20px;
    }
    
    a:hover {
        color: $green-color;
    }
    
    .content1 {
        margin-left: 150px;
        & h1 {
            color: $heading-color;
        }
    }
    
    .section1 {
        background-image: none;
        @include mobileFirst(1125) {
            @include section-1();
        }
    }
    
    // .section1 {
    //     @include section-1();
    // }
    .text {
        &1 {
            @include container-txt();
            width: 280px;
        }
        &2 {
            @include container-txt();
            width: 300px;
        }
        &3 {
            @include container-txt();
            width: 330px;
        }
    }
    
    .button {
        @include container-btn(#4CAF50);
        &:hover {
            background-color: $green-color;
        }
    }
    
    .content2 {
        margin-left: 150px;
        & h2 {
            color: $light-brown;
        }
    }
    
    .left {
        float: left;
        width: 269px;
        height: 220px;
        margin-right: 8px;
    }
    
    .text {
        &5 {
            @include section-txt($section-txt-color, 0px, 269px);
        }
        &6 {
            @include section-txt($section-txt-color, 8px, 220px);
        }
        &7 {
            @include section-txt($section-txt-color, 8px, 200px);
        }
        &8 {
            @include section-txt($section-txt-color, 8px, 269px);
        }
        &72 {
            @include section-txt(transparent, 8px, 200px);
        }
        &9 {
            @include section-txt($section-txt-color, 12px, 250px);
        }
        &10 {
            @include section-txt($section-txt-color, 15px, 220px);
        }
    }
    
    .middle,
    .right {
        @include middle-right();
    }
    
    footer {
        @include footer-style(#414141);
    }
    
    .foot {
        margin-left: 150px;
        margin-top: 30px;
    }
    
    .footer- {
        &left {
            float: left;
            width: 269px;
            margin-right: 8px;
            margin-left: 150px;
        }
        &mid {
            float: left;
            width: 269px;
            margin-right: 8px;
        }
    }
    
    hr {
        width: 1100px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    .icon {
        color: $section-txt-color;
        margin-top: 20px;
        margin-left: 40px;
        height: 32px;
        width: 32px;
    }