    $box-size: border-box;
    // FONTS
    $body-font: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
    // COLORS
    $grey-color: grey;
    $white-color: white;
    $green-color: green;
    $darkgrey-color: #404040;
    $ghostwhite-color:ghostwhite;
    $heading-color: #4e4d4d;
    $light-brown: #6f6f6f;
    $footer-bg-color: #414141;
    $section-txt-color: #c8c8c8;
    // images
    $background-img-container: url(../img/img_tree.png);
    $top-margin: 0px;
    * {
        box-sizing: $box-size;
    }
    
    body {
        font-family: $body-font;
    }
    
    @mixin form-ex-input {
        margin-top: 14px;
        padding: 5px;
        font-size: 11px;
        border: 1px solid $grey-color;
        float: left;
        width: 200px;
        background: $white-color;
    }
    
    @mixin nav-search-btn {
        float: left;
        width: 30px;
        padding: 6px;
        background-color: $grey-color;
        color: $white-color;
        font-size: 9px;
        border: 1px solid $grey-color;
        border-left: none;
        cursor: pointer;
        margin-top: 14px;
    }
    
    @mixin main-container {
        max-width: 1400px;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
    }
    
    @mixin header-mixin {
        background-color: $darkgrey-color;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    
    @mixin logo {
        margin-bottom: 20px;
        margin-left: 150px;
        margin-right: 150px;
        float: left;
        width: auto;
    }
    
    form.example button {
        @include nav-search-btn();
    }
    
    form.example input[type=text] {
        @include form-ex-input();
    }
    
    @mixin anchor {
        color: $ghostwhite-color;
        text-decoration: none;
        margin-bottom: 20px;
    }
    
    @mixin section-1 {
        background-color: $white-color;
        background-image: $background-img-container;
        width: 100%;
        padding-top: 30px;
        padding-bottom: 40px;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
        background-position: 50% 20%;
    }
    
    @mixin container-txt {
        background-color: $section-txt-color;
        margin-bottom: 8px;
        height: 10px;
    }
    
    @mixin container-btn($green-color) {
        background-color: $green-color;
        font-size: 35px;
        border: none;
        color: $white-color;
        padding: 5px 10px 5px 80px;
        cursor: pointer;
        margin-top: 30px;
        border-radius: 4px;
        font-size: 25px;
    }
    
    @mixin section-txt($txt-color-white, $top-margin, $var-width) {
        height: 10px;
        background-color: $txt-color-white;
        margin-top: $top-margin;
        width: $var-width;
    }
    
    @mixin middle-right {
        float: left;
        width: 269px;
        height: 100px;
        margin-right: 8px;
    }
    
    @mixin footer-style($footer-bg-color) {
        width: 100%;
        height: 260px;
        background-color: $footer-bg-color;
        margin-top: 40px;
        padding-top: 40px;
    }
    
    form.example button:hover {
        background: $green-color;
    }
    
    form.example::after {
        content: "";
        clear: both;
        display: table;
    }
    
    #container {
        @include main-container();
    }
    
    header {
        @include header-mixin();
    }
    
    .logo {
        @include logo();
    }
    
    header nav {
        & ul {
            float: left;
            margin-right: 60px;
        }
        & ul li {
            display: inline;
            margin-right: 40px;
        }
    }
    
    a {
        color: $ghostwhite-color;
        text-decoration: none;
        margin-bottom: 20px;
    }
    
    a:hover {
        color: $green-color;
    }
    
    .content1 {
        margin-left: 150px;
        & h1 {
            color: $heading-color;
        }
    }
    
    .section1 {
        @include section-1();
    }
    
    .text {
        &1 {
            @include container-txt();
            width: 280px;
        }
        &2 {
            @include container-txt();
            width: 300px;
        }
        &3 {
            @include container-txt();
            width: 330px;
        }
    }
    
    .button {
        @include container-btn(#4CAF50);
        &:hover {
            background-color: $green-color;
        }
    }
    
    .content2 {
        margin-left: 150px;
        & h2 {
            color: $light-brown;
        }
    }
    
    .left {
        float: left;
        width: 269px;
        height: 220px;
        margin-right: 8px;
    }
    
    .text {
        &5 {
            @include section-txt($section-txt-color, 0px, 269px);
        }
        &6 {
            @include section-txt($section-txt-color, 8px, 220px);
        }
        &7 {
            @include section-txt($section-txt-color, 8px, 200px);
        }
        &8 {
            @include section-txt($section-txt-color, 8px, 269px);
        }
        &72 {
            @include section-txt(transparent, 8px, 200px);
        }
        &9 {
            @include section-txt($section-txt-color, 12px, 250px);
        }
        &10 {
            @include section-txt($section-txt-color, 15px, 220px);
        }
    }
    
    .middle,
    .right {
        @include middle-right();
    }
    
    footer {
        @include footer-style(#414141);
    }
    
    .foot {
        margin-left: 150px;
        margin-top: 30px;
    }
    
    .footer- {
        &left {
            float: left;
            width: 269px;
            margin-right: 8px;
            margin-left: 150px;
        }
        &mid {
            float: left;
            width: 269px;
            margin-right: 8px;
        }
    }
    
    hr {
        width: 1100px;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    
    .icon {
        color: $section-txt-color;
        margin-top: 20px;
        margin-left: 40px;
        height: 32px;
        width: 32px;
    }